body {
    background-color: #f18b403d;
    margin: 0;
}


li{
    list-style:none;
}

.row.row2 {
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 20px;
    background-color: #f18b403d;
}
